* {
    box-sizing: border-box;
}

body {
    font-family: 'Audiowide', cursive;
    padding: 0;
    margin: 0;
    /* background-color: rgb(20, 20, 20); */
    background-color: black;
    min-height: 100vh;
    color: white;
}

header {
    background-image: url(https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/starfield-banner.jpg);
    background-size: contain;
    width: 100%;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header ul {
    padding: 0;
    display: flex;
    flex-direction: row;
}

header ul li{
    padding: 0;
    list-style-type: none;
    margin: 20px;
}

header ul li a{
    text-decoration: none;
    color: white;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    
}

button {
    border: 2px solid white;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: black;
    margin: 20px;
    
}

button:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.2);
    background-color: white;
    color: black;
    border: 2px solid black;
}

.newPlanetWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#updateWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

input {
    width: 150px;
    height: 35px;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 10px;
    border: 2px solid white;
    border-radius: 3px;
}

textarea {
    height: 35px;
    margin: 10px;
    width: 360px;
    padding: 7px;
    font: 400 13.3333px Arial;
    border: 2px solid white;
    border-radius: 3px;
}

#searchWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#demo {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}

#demo div div{
    width: 200px;
    word-wrap: break-word;
}

@media screen and (max-width: 650px) {
    
    body {
        background-image: url(https://images.unsplash.com/photo-1516339901601-2e1b62dc0c45?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2120&q=80);
        background-size: cover;
    }
    header ul li{
        margin: 10px;
    }

    .newPlanetWrapper {
        flex-direction: column;
    }
    #updateWrapper {
        flex-direction: column;

    }

    textarea {
        height: 210px;
        width: 150px;
    }

    #searchWrapper {
        flex-direction: column;
    }
}

.planetAnimation {
    color: white;
    animation-name: planetTransformation;
    animation-duration: 5s;
}

@keyframes planetTransformation {
    0%   {color: rgba(255, 255, 255, 0);}
    25%  {color: rgba(255, 255, 255, 0.294);}
    50%  {color: rgba(255, 255, 255, 0.561);}
    100% {color:rgba(255, 255, 255, 0.767);}
  }